.applicationTitle {
  color: #004097;
}

.switchButton {
  width: 200px;
}

.iconStyle:hover {
  background-color: #004097;
  color: #fff;
}

.downloadStyle {
  background-color: #fff;
  color: #004097;
  border-color: #004097;
  width: 100px;
  height: 40px;
}

.downloadStyle:hover {
  background-color: #fff;
  color: #004097;
  border-color: #004097;
}

.crossHair {
  width: 100px;
}
.crossHair:hover {
  color: #ee3d4b;
  cursor: pointer;
  display: 'flex';
  align-items: 'center';
  gap: '0.5rem';
}

.filtersContainer {
  display: flex;
  width: 100%;
  gap: 0px;
}

.switchDetails {
  color: #32b353;
}

.copyPasteButton {
  visibility: hidden;
}

.copyPasteWrapper:hover .copyPasteButton {
  visibility: visible;
  cursor: pointer;
}
