.navbar {
  height: 750px;
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-primary-brand-color);
  overflow-y: overlay;
}

@media (min-width: 640px) {
  .navbar {
    padding: var(--mantine-spacing-xs); 
    width:4rem;
  }
}

@media (min-width: 1024px) { 
  .navbar {
    padding: var(--mantine-spacing-sm);
    width:4rem; 
  }
}


.navbarMain {
  flex: 1;
  margin-top: 50px;
}

.link {
  width: 40px;
  height: 40px;
  border-radius: var(--mantine-radius-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bac8e3;
  padding: 5px;
  background-color: #285eaa;
  &:hover {
    box-shadow: var(--mantine-shadow-sm);
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: #1989fa;
      color: #bac8e3;
    }
  }
}
